<div class="row" data-ng-controller="ContactController as contactCtrl">
	<div class="col-sm-6">
		<h3>{{ contactCtrl.contact.name }}</h3>
		<address>
			<i class="fa fa-map-marker"></i> <strong>{{ contactCtrl.contact.location }}</strong>
		</address>
		<hr>

		<h4>{{ contactCtrl.contact.title }}</h4>
		<br>
		<p>{{ contactCtrl.contact.resume }}</p>
		<hr>
		
		<a class="btn btn-social-icon btn-bitbucket" target="_blank" href="https://bitbucket.org/philipe_alves"><i class="fa fa-bitbucket"></i></a>
		<a class="btn btn-social-icon btn-github" target="_blank" href="https://github.com/philipealves"><i class="fa fa-github"></i></a>
		<a class="btn btn-social-icon btn-google-plus" target="_blank" href="https://plus.google.com/+PhilipeAlvess"><i class="fa fa-google-plus"></i></a>
		<a class="btn btn-social-icon btn-instagram" target="_blank" href="https://www.instagram.com/philipealvees/"><i class="fa fa-instagram"></i></a>
		<a class="btn btn-social-icon btn-linkedin" target="_blank" href="https://br.linkedin.com/in/philipealves"><i class="fa fa-linkedin"></i></a>
		<a class="btn btn-social-icon btn-twitter" target="_blank" href="https://twitter.com/philipeaosilva"><i class="fa fa-twitter"></i></a>
	</div>
</div>